* {
  box-sizing: border-box;
}

.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 16px;
  background: #fff;
  width: 500px;
}

.modal-form-clearfix {
  text-align: center;
}
.modal-form-clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.modal-form label {
  font-weight: bold;
  display:inline-block;
  margin-top: 8px;
}

.modal-form input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.modal-form input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.modal-form input[type=submit] {
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  border: none;
  padding: 1em 4em;
  opacity: 0.9;
  background: #66f;
  font-weight: bold;
  color: white;
}

.modal-form input[type=submit]:focus {
  outline: none;
}

.modal-form .error-message {
  margin: 0;
  color: red;
}

.modal-form .warning-message {
  margin: 0;
  color: orange;
}

.icon-right,
.icon-wrong {
  float: right;
  position: relative;
  top: -1.8em;
  right: 1em;
}

.icon-right {color: #0a0;}
.icon-wrong {color: #f00;}